{{define "default"}}{{if .__meta.unset -}}
unset ALICLOUD_ACCESS_KEY_ID;
unset ALICLOUD_ACCESS_KEY_SECRET;
unset ALICLOUD_REGION_ID;
{{else -}}
export ALICLOUD_ACCESS_KEY_ID=$(< {{.dataFiles.accessKeyID | shellEscape}});
export ALICLOUD_ACCESS_KEY_SECRET=$(< {{.dataFiles.accessKeySecret | shellEscape}});
export ALICLOUD_REGION_ID=$(< {{.dataFiles.region | shellEscape}});
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .__meta.unset -}}
set -e ALICLOUD_ACCESS_KEY_ID;
set -e ALICLOUD_ACCESS_KEY_SECRET;
set -e ALICLOUD_REGION_ID;
{{else -}}
set -gx ALICLOUD_ACCESS_KEY_ID (cat -- {{.dataFiles.accessKeyID | shellEscape}});
set -gx ALICLOUD_ACCESS_KEY_SECRET (cat -- {{.dataFiles.accessKeySecret | shellEscape}});
set -gx ALICLOUD_REGION_ID (cat -- {{.dataFiles.region | shellEscape}});
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "powershell"}}{{if .__meta.unset -}}
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_ACCESS_KEY_ID;
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_ACCESS_KEY_SECRET;
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_REGION_ID;
{{else -}}
$Env:ALICLOUD_ACCESS_KEY_ID = Get-Content -Raw {{.dataFiles.accessKeyID | shellEscape}};
$Env:ALICLOUD_ACCESS_KEY_SECRET = Get-Content -Raw {{.dataFiles.accessKeySecret | shellEscape}};
$Env:ALICLOUD_REGION_ID = Get-Content -Raw {{.dataFiles.region | shellEscape}};
{{range $key, $path := .dataFiles}}Remove-Item -Force -ErrorAction SilentlyContinue {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}
