{{define "default"}}{{if .__meta.unset -}}
gcloud auth revoke $GOOGLE_CREDENTIALS_ACCOUNT --verbosity=error;
unset GOOGLE_CREDENTIALS;
unset GOOGLE_CREDENTIALS_ACCOUNT;
unset CLOUDSDK_CORE_PROJECT;
unset CLOUDSDK_COMPUTE_REGION;
unset CLOUDSDK_CONFIG;
{{else -}}
export GOOGLE_CREDENTIALS={{.credentials | toJson | shellEscape}};
export GOOGLE_CREDENTIALS_ACCOUNT={{.credentials.client_email | shellEscape}};
export CLOUDSDK_CORE_PROJECT={{.credentials.project_id | shellEscape}};
export CLOUDSDK_COMPUTE_REGION={{.region | shellEscape}};
export CLOUDSDK_CONFIG={{.configDir | shellEscape}};
gcloud auth activate-service-account $GOOGLE_CREDENTIALS_ACCOUNT --key-file <(printf "%s" "$GOOGLE_CREDENTIALS");
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .__meta.unset -}}
gcloud auth revoke $GOOGLE_CREDENTIALS_ACCOUNT --verbosity=error;
set -e GOOGLE_CREDENTIALS;
set -e GOOGLE_CREDENTIALS_ACCOUNT;
set -e CLOUDSDK_CORE_PROJECT;
set -e CLOUDSDK_COMPUTE_REGION;
set -e CLOUDSDK_CONFIG;
{{else -}}
set -gx GOOGLE_CREDENTIALS {{.credentials | toJson | shellEscape}};
set -gx GOOGLE_CREDENTIALS_ACCOUNT {{.credentials.client_email | shellEscape}};
set -gx CLOUDSDK_CORE_PROJECT {{.credentials.project_id | shellEscape}};
set -gx CLOUDSDK_COMPUTE_REGION {{.region | shellEscape}};
set -gx CLOUDSDK_CONFIG {{.configDir | shellEscape}};
gcloud auth activate-service-account $GOOGLE_CREDENTIALS_ACCOUNT --key-file (printf "%s" "$GOOGLE_CREDENTIALS" | psub);
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "powershell"}}{{if .__meta.unset -}}
gcloud auth revoke $Env:GOOGLE_CREDENTIALS_ACCOUNT --verbosity=error;
Remove-Item -ErrorAction SilentlyContinue Env:\GOOGLE_CREDENTIALS;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_CORE_PROJECT;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_COMPUTE_REGION;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_CONFIG;
{{else -}}
$Env:GOOGLE_CREDENTIALS = {{.credentials | toJson | shellEscape}};
$Env:GOOGLE_CREDENTIALS_ACCOUNT = {{.credentials.client_email | shellEscape}};
$Env:CLOUDSDK_CORE_PROJECT = {{.credentials.project_id | shellEscape}};
$Env:CLOUDSDK_COMPUTE_REGION = {{.region | shellEscape}};
$Env:CLOUDSDK_CONFIG = {{.configDir | shellEscape}};
function Invoke-WithGoogleCredentials {param([Parameter(Mandatory)] [ScriptBlock] $sb); $f = New-TemporaryFile; try {$Env:GOOGLE_CREDENTIALS | Out-File -Encoding utf8 $f; Invoke-Command -ScriptBlock $sb -ArgumentList $f} finally {Remove-Item -ErrorAction SilentlyContinue $f}};
Invoke-WithGoogleCredentials {param($f) gcloud auth activate-service-account $Env:GOOGLE_CREDENTIALS_ACCOUNT --key-file $f};
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "gcp-usage-hint"}}{{if not .unset}}{{template "revoke-hint" .}}{{end}}{{template "usage-hint" .}}{{end}}

{{define "revoke-hint" -}}
printf 'Run the following command to revoke access credentials:\n{{.prompt}}{{template "eval-cmd" dict "shell" .shell "cmd" (printf "%s %s -u %s" .commandPath .targetFlags .shell)}}\n';
{{end}}