{{define "default"}}{{if .__meta.unset -}}
gcloud auth revoke --verbosity=error -- "$GOOGLE_CREDENTIALS_ACCOUNT";
unset GOOGLE_CREDENTIALS_ACCOUNT;
unset CLOUDSDK_CORE_PROJECT;
unset CLOUDSDK_COMPUTE_REGION;
unset CLOUDSDK_CONFIG;
{{else -}}
export CLOUDSDK_CORE_PROJECT=$(< {{.dataFiles.project_id | shellEscape}});
export CLOUDSDK_COMPUTE_REGION=$(< {{.dataFiles.region | shellEscape}});
export CLOUDSDK_CONFIG={{.configDir | shellEscape}};
gcloud auth login --cred-file {{.dataFiles.credentials | shellEscape}};
export GOOGLE_CREDENTIALS_ACCOUNT=$(gcloud auth list --filter=status:ACTIVE --format='value(account)');
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .__meta.unset -}}
gcloud auth revoke --verbosity=error -- "$GOOGLE_CREDENTIALS_ACCOUNT";
set -e GOOGLE_CREDENTIALS_ACCOUNT;
set -e CLOUDSDK_CORE_PROJECT;
set -e CLOUDSDK_COMPUTE_REGION;
set -e CLOUDSDK_CONFIG;
{{else -}}
set -gx CLOUDSDK_CORE_PROJECT (cat -- {{.dataFiles.project_id | shellEscape}});
set -gx CLOUDSDK_COMPUTE_REGION (cat -- {{.dataFiles.region | shellEscape}});
set -gx CLOUDSDK_CONFIG {{.configDir | shellEscape}};
gcloud auth login --cred-file {{.dataFiles.credentials | shellEscape}};
set -gx GOOGLE_CREDENTIALS_ACCOUNT (gcloud auth list --filter=status:ACTIVE --format='value(account)');
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "powershell"}}{{if .__meta.unset -}}
gcloud auth revoke --verbosity=error -- "$Env:GOOGLE_CREDENTIALS_ACCOUNT";
Remove-Item -ErrorAction SilentlyContinue Env:\GOOGLE_CREDENTIALS_ACCOUNT;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_CORE_PROJECT;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_COMPUTE_REGION;
Remove-Item -ErrorAction SilentlyContinue Env:\CLOUDSDK_CONFIG;
{{else -}}
$Env:CLOUDSDK_CORE_PROJECT = Get-Content -Raw {{.dataFiles.project_id | shellEscape}};
$Env:CLOUDSDK_COMPUTE_REGION = Get-Content -Raw {{.dataFiles.region | shellEscape}};
$Env:CLOUDSDK_CONFIG = {{.configDir | shellEscape}};
gcloud auth login --cred-file {{.dataFiles.credentials | shellEscape}};
$Env:GOOGLE_CREDENTIALS_ACCOUNT = gcloud auth list --filter=status:ACTIVE --format='value(account)';
{{range $key, $path := .dataFiles}}Remove-Item -Force -ErrorAction SilentlyContinue {{$path | shellEscape}};
{{end -}}
{{end}}{{template "gcp-usage-hint" .__meta}}{{end}}

{{define "gcp-usage-hint"}}{{if not .unset}}{{template "revoke-hint" .}}{{end}}{{template "usage-hint" .}}{{end}}

{{define "revoke-hint" -}}
printf 'Run the following command to revoke access credentials:\n{{.prompt}}{{template "eval-cmd" dict "shell" .shell "cmd" (printf "%s %s -u %s" .commandPath .targetFlags .shell)}}\n';
{{end}}
