{{define "usage-hint"}}{{if .unset}}{{template "unset-hint" .}}{{else}}{{template "export-hint" .}}{{end}}{{end}}

{{define "export-hint" -}}
{{if .notification}}{{template "printf" dict "format" .notification}}
{{end -}}
{{if not (eq .shell "powershell")}}
{{end -}}
# Run this command to configure {{.cli}} for your shell:
# {{template "eval-cmd" dict "shell" .shell "cmd" (printf "%s %s" .commandPath .shell)}}
{{end}}

{{define "unset-hint" -}}
{{if not (eq .shell "powershell")}}
{{end -}}
# Run this command to reset the {{.cli}} configuration for your shell:
# {{template "eval-cmd" dict "shell" .shell "cmd" (printf "%s -u %s" .commandPath .shell)}}
{{end}}

{{define "eval-cmd"}}{{if eq .shell "powershell"}}& {{.cmd}} | Invoke-Expression{{else if eq .shell "fish" -}}eval ({{.cmd}}){{else}}eval $({{.cmd}}){{end}}{{end}}

{{define "printf"}}{{if .format}}printf {{.format | replace "\n" "\\n" | shellEscape}}{{range .arguments}} {{. | shellEscape}}{{end}}{{end}}{{end}}
