{{define "default"}}{{if .__meta.unset -}}
unset OS_AUTH_URL;
unset OS_PROJECT_DOMAIN_NAME;
unset OS_USER_DOMAIN_NAME;
unset OS_REGION_NAME;
unset OS_AUTH_STRATEGY;
unset OS_TENANT_NAME;
unset OS_USERNAME;
unset OS_PASSWORD;
unset OS_AUTH_TYPE;
unset OS_APPLICATION_CREDENTIAL_ID;
unset OS_APPLICATION_CREDENTIAL_NAME;
unset OS_APPLICATION_CREDENTIAL_SECRET;
{{else -}}
export OS_AUTH_URL=$(< {{.dataFiles.authURL | shellEscape}});
export OS_PROJECT_DOMAIN_NAME=$(< {{.dataFiles.domainName | shellEscape}});
export OS_USER_DOMAIN_NAME=$(< {{.dataFiles.domainName | shellEscape}});
export OS_REGION_NAME=$(< {{.dataFiles.region | shellEscape}});
export OS_AUTH_STRATEGY=$(< {{.dataFiles.authStrategy | shellEscape}});
export OS_TENANT_NAME=$(< {{.dataFiles.tenantName | shellEscape}});
export OS_USERNAME=$(< {{.dataFiles.username | shellEscape}});
export OS_PASSWORD=$(< {{.dataFiles.password | shellEscape}});
export OS_AUTH_TYPE=$(< {{.dataFiles.authType | shellEscape}});
export OS_APPLICATION_CREDENTIAL_ID=$(< {{.dataFiles.applicationCredentialID | shellEscape}});
export OS_APPLICATION_CREDENTIAL_NAME=$(< {{.dataFiles.applicationCredentialName | shellEscape}});
export OS_APPLICATION_CREDENTIAL_SECRET=$(< {{.dataFiles.applicationCredentialSecret | shellEscape}});
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .__meta.unset -}}
set -e OS_AUTH_URL;
set -e OS_PROJECT_DOMAIN_NAME;
set -e OS_USER_DOMAIN_NAME;
set -e OS_REGION_NAME;
set -e OS_AUTH_STRATEGY;
set -e OS_TENANT_NAME;
set -e OS_USERNAME;
set -e OS_PASSWORD;
set -e OS_AUTH_TYPE;
set -e OS_APPLICATION_CREDENTIAL_ID;
set -e OS_APPLICATION_CREDENTIAL_NAME;
set -e OS_APPLICATION_CREDENTIAL_SECRET;
{{else -}}
set -gx OS_AUTH_URL (cat -- {{.dataFiles.authURL | shellEscape}});
set -gx OS_PROJECT_DOMAIN_NAME (cat -- {{.dataFiles.domainName | shellEscape}});
set -gx OS_USER_DOMAIN_NAME (cat -- {{.dataFiles.domainName | shellEscape}});
set -gx OS_REGION_NAME (cat -- {{.dataFiles.region | shellEscape}});
set -gx OS_AUTH_STRATEGY (cat -- {{.dataFiles.authStrategy | shellEscape}});
set -gx OS_TENANT_NAME (cat -- {{.dataFiles.tenantName | shellEscape}});
set -gx OS_USERNAME (cat -- {{.dataFiles.username | shellEscape}});
set -gx OS_PASSWORD (cat -- {{.dataFiles.password | shellEscape}});
set -gx OS_AUTH_TYPE (cat -- {{.dataFiles.authType | shellEscape}});
set -gx OS_APPLICATION_CREDENTIAL_ID (cat -- {{.dataFiles.applicationCredentialID | shellEscape}});
set -gx OS_APPLICATION_CREDENTIAL_NAME (cat -- {{.dataFiles.applicationCredentialName | shellEscape}});
set -gx OS_APPLICATION_CREDENTIAL_SECRET (cat -- {{.dataFiles.applicationCredentialSecret | shellEscape}});
{{range $key, $path := .dataFiles}}rm -f -- {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "powershell"}}{{if .__meta.unset -}}
Remove-Item -ErrorAction SilentlyContinue Env:\OS_AUTH_URL;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_PROJECT_DOMAIN_NAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_USER_DOMAIN_NAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_REGION_NAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_AUTH_STRATEGY;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_TENANT_NAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_USERNAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_PASSWORD;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_AUTH_TYPE;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_APPLICATION_CREDENTIAL_ID;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_APPLICATION_CREDENTIAL_NAME;
Remove-Item -ErrorAction SilentlyContinue Env:\OS_APPLICATION_CREDENTIAL_SECRET;
{{else -}}
$Env:OS_AUTH_URL = Get-Content -Raw {{.dataFiles.authURL | shellEscape}};
$Env:OS_PROJECT_DOMAIN_NAME = Get-Content -Raw {{.dataFiles.domainName | shellEscape}};
$Env:OS_USER_DOMAIN_NAME = Get-Content -Raw {{.dataFiles.domainName | shellEscape}};
$Env:OS_REGION_NAME = Get-Content -Raw {{.dataFiles.region | shellEscape}};
$Env:OS_AUTH_STRATEGY = Get-Content -Raw {{.dataFiles.authStrategy | shellEscape}};
$Env:OS_TENANT_NAME = Get-Content -Raw {{.dataFiles.tenantName | shellEscape}};
$Env:OS_USERNAME = Get-Content -Raw {{.dataFiles.username | shellEscape}};
$Env:OS_PASSWORD = Get-Content -Raw {{.dataFiles.password | shellEscape}};
$Env:OS_AUTH_TYPE = Get-Content -Raw {{.dataFiles.authType | shellEscape}};
$Env:OS_APPLICATION_CREDENTIAL_ID = Get-Content -Raw {{.dataFiles.applicationCredentialID | shellEscape}};
$Env:OS_APPLICATION_CREDENTIAL_NAME = Get-Content -Raw {{.dataFiles.applicationCredentialName | shellEscape}};
$Env:OS_APPLICATION_CREDENTIAL_SECRET = Get-Content -Raw {{.dataFiles.applicationCredentialSecret | shellEscape}};
{{range $key, $path := .dataFiles}}Remove-Item -Force -ErrorAction SilentlyContinue {{$path | shellEscape}};
{{end -}}
{{end}}{{template "usage-hint" .__meta}}{{end}}
