{{define "default"}}{{if .unset -}}
unset ALICLOUD_ACCESS_KEY_ID;
unset ALICLOUD_ACCESS_KEY_SECRET;
unset ALICLOUD_REGION_ID;
{{else -}}
export ALICLOUD_ACCESS_KEY_ID={{.accessKeyID | quote }};
export ALICLOUD_ACCESS_KEY_SECRET={{.accessKeySecret | quote }};
export ALICLOUD_REGION_ID={{.region | quote}};
{{end}}
{{.usageHint}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .unset -}}
set -e ALICLOUD_ACCESS_KEY_ID;
set -e ALICLOUD_ACCESS_KEY_SECRET;
set -e ALICLOUD_REGION_ID;
{{else -}}
set -gx ALICLOUD_ACCESS_KEY_ID {{.accessKeyID | quote}};
set -gx ALICLOUD_ACCESS_KEY_SECRET {{.accessKeySecret | quote}};
set -gx ALICLOUD_REGION_ID {{.region | quote}};
{{end}}
{{.usageHint}}{{end}}

{{define "powershell"}}{{if .unset -}}
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_ACCESS_KEY_ID;
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_ACCESS_KEY_SECRET;
Remove-Item -ErrorAction SilentlyContinue Env:\ALICLOUD_REGION_ID;
{{else -}}
$Env:ALICLOUD_ACCESS_KEY_ID = {{.accessKeyID | quote}};
$Env:ALICLOUD_ACCESS_KEY_SECRET = {{.accessKeySecret | quote}};
$Env:ALICLOUD_REGION_ID = {{.region | quote}};
{{end}}{{.usageHint}}{{end}}