{{define "default"}}{{if .__meta.unset -}}
az logout --username "$AZURE_CLIENT_ID";
unset AZURE_CLIENT_ID;
unset AZURE_CLIENT_SECRET;
unset AZURE_TENANT_ID;
unset AZURE_SUBSCRIPTION_ID;
{{else -}}
export AZURE_CLIENT_ID={{.clientID | quote}};
export AZURE_CLIENT_SECRET={{.clientSecret | quote}};
export AZURE_TENANT_ID={{.tenantID | quote}};
export AZURE_SUBSCRIPTION_ID={{.subscriptionID | quote}};
az login --service-principal --username "$AZURE_CLIENT_ID" --password "$AZURE_CLIENT_SECRET" --tenant "$AZURE_TENANT_ID";
az account set --subscription "$AZURE_SUBSCRIPTION_ID";
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "bash"}}{{template "default" .}}{{end}}
{{define "zsh"}}{{template "default" .}}{{end}}

{{define "fish"}}{{if .__meta.unset -}}
az logout --username "$AZURE_CLIENT_ID";
set -e AZURE_CLIENT_ID;
set -e AZURE_CLIENT_SECRET;
set -e AZURE_TENANT_ID;
set -e AZURE_SUBSCRIPTION_ID;
{{else -}}
set -gx AZURE_CLIENT_ID {{.clientID | quote}};
set -gx AZURE_CLIENT_SECRET {{.clientSecret | quote}};
set -gx AZURE_TENANT_ID {{.tenantID | quote}};
set -gx AZURE_SUBSCRIPTION_ID {{.subscriptionID | quote}};
az login --service-principal --username "$AZURE_CLIENT_ID" --password "$AZURE_CLIENT_SECRET" --tenant "$AZURE_TENANT_ID";
az account set --subscription "$AZURE_SUBSCRIPTION_ID";
{{end}}{{template "usage-hint" .__meta}}{{end}}

{{define "powershell"}}{{if .__meta.unset -}}
az logout --username "$AZURE_CLIENT_ID";
Remove-Item -ErrorAction SilentlyContinue Env:\HCLOUD_TOKEN;
Remove-Item -ErrorAction SilentlyContinue Env:\AZURE_CLIENT_ID;
Remove-Item -ErrorAction SilentlyContinue Env:\AZURE_CLIENT_SECRET;
Remove-Item -ErrorAction SilentlyContinue Env:\AZURE_TENANT_ID;
Remove-Item -ErrorAction SilentlyContinue Env:\AZURE_SUBSCRIPTION_ID;
{{else -}}
$Env:AZURE_CLIENT_ID = {{.clientID | quote}};
$Env:AZURE_CLIENT_SECRET = {{.clientSecret | quote}};
$Env:AZURE_TENANT_ID = {{.tenantID | quote}};
$Env:AZURE_SUBSCRIPTION_ID = {{.subscriptionID | quote}};
az login --service-principal --username "$Env:AZURE_CLIENT_ID" --password "$Env:AZURE_CLIENT_SECRET" --tenant "$Env:AZURE_TENANT_ID";
az account set --subscription "$Env:AZURE_SUBSCRIPTION_ID";
{{end}}{{template "usage-hint" .__meta}}{{end}}