name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request: ~
permissions:
  contents: read
env:
  # renovate: datasource=github-releases depName=golangci/golangci-lint
  GOLANG_CI_LINT_VERSION: v2.6.2
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANG_CI_LINT_VERSION }}
          args: --verbose --timeout 5m
